* {
   
    box-sizing: border-box;
}
h2{
   text-align: center;
}

img {
   border: black 12px solid;
}

.flexContainer {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 22px;
  
   justify-content: center;
}
.introducirDescripcion {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 22px;
   
   justify-content: center;
}
.botonesTendencias {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 22px;
   
   justify-content: center;
}


.introducirDescripcion>* {
   width: calc(50% - 15px);

}

.flexContainer>* {
   width: calc(40% - 15px);
   align-content: center;
   
}
.tendenciasContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  
    justify-content: center;
 }
 
 .paginacion{
   display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  
    justify-content: center;
 }
 .esconder{
   display:none
 }

